/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
     * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
     *    Turn off all other ligatures, tabular, lining numerals, and alternates
     */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */
}
/* Headings
    ========================================================================== */
/**
     * 1. Turn on discretionary ligatures for larger headings
     */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}
/* Text-level semantics
    ========================================================================== */
/**
     * 1. Change all letters to uppercase
     * 2. Turn on small caps for upper and lowercase letters
     */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}
/*
     * TODO: Turn on diagonal fractions where appropriate
     */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/*
     * 1. Turn off kerning and ligatures,
     *    Turn on lining, tabular numerals, slashed zero
     */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Turn on proper supercript numerals
     */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}
/**
     * 1. Turn on proper subscript numerals
     */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}
/* Tables
    ========================================================================== */
/**
     * 1. Turns on tabular, lining numerals and slashed zero
     *    Turns off kerning, as it could impact tabular numerals
     */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Revert to defaults for table headings
     */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}
/* Forms
    ========================================================================== */
/**
     * 1. Turns on lining, proportional numerals without clarified zeroes
     * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
     */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  color: #3b473f;
  font-size: 14px;
  background: #e6e8eb;
}
a {
  color: inherit;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
textarea::-webkit-input-placeholder {
  color: #add8e6;
}
textarea:-moz-placeholder {
  color: #add8e6;
}
textarea::-moz-placeholder {
  color: #add8e6;
}
textarea:-ms-input-placeholder {
  color: #add8e6;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.mb {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mt40 {
  margin-top: 40px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.ml4 {
  margin-left: 4px;
}
.ml24 {
  margin-left: 24px;
}
.mr8 {
  margin-right: 8px;
}
.mr16 {
  margin-right: 16px;
}
.mr24 {
  margin-right: 24px;
}
.nav {
  background: #8a8ce6;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-bottom: 4px solid #64499a;
  height: 58px;
  line-height: 58px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.mian {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.font-y {
  font-family: "Microsoft YaHei" Arial, sans-serif;
}
.font-s {
  font-family: "SimSun" Arial, sans-serif;
}
.fontc-bai {
  color: #ffffff;
}
.fontc-hei {
  color: #373737;
}
.fontc-hui {
  color: #615e58;
}
.fontc-zi {
  color: #1f2938;
}
.fontc-orange {
  color: #e6a640;
}
.fontc0 {
  color: #000 !important;
}
.fontz36 {
  font-size: 36px;
}
.fontz30 {
  font-size: 30px;
}
.fontz28 {
  font-size: 28px;
}
.fontz24 {
  font-size: 24px;
}
.fontz20 {
  font-size: 20px;
}
.fontz18 {
  font-size: 18px;
}
.fontz16 {
  font-size: 16px;
}
.fontz14 {
  font-size: 14px;
}
.fontz12 {
  font-size: 12px;
}
.fwb {
  font-weight: bold;
}
.fw600 {
  font-weight: 600;
}
.textc {
  text-align: center;
}
.textl {
  text-align: left;
}
.textr {
  text-align: right;
}
.header {
  display: block;
  width: 100%;
}
.top-nav {
  display: block;
  background: #b6aff0;
  color: #fff;
  height: 46px;
  line-height: 46px;
}
.top-nav .top-link span {
  display: inline-block;
  margin: 0 6px;
}
.top-nav .top-link span a {
  color: #fff;
}
.top-nav .top-link span a:hover {
  text-decoration: underline;
}
.top-head {
  display: block;
  height: 162px;
  background: #fff;
}
.top-head .head-logo {
  display: block;
}
.top-head .head-logo img {
  position: relative;
  top: 14px;
  left: 6px;
}
.top-head .head-logo span {
  display: inline-block;
  position: relative;
  top: -10px;
  left: -284px;
  font-size: 24px;
  font-weight: bold;
  color: #38396e;
}
.top-head .head-info {
  display: block;
}
.top-head .head-info .head-mail {
  margin-top: 64px;
  font-size: 18px;
  margin-right: 16px;
}
.top-head .head-info .head-mail a {
  display: block;
  height: 36px;
  line-height: 36px;
  color: #38396e;
  text-indent: 8px;
}
.top-head .head-info .head-mail a i {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  background: #b6aff0 url(../../images/icon-head-mail.png) center center no-repeat;
  border-radius: 36px;
}
.top-head .head-info .head-mail a:hover i {
  background: #38396e url(../../images/icon-head-mail.png) center center no-repeat;
  transition: 0.2s ease-out;
  cursor: pointer;
  white-space: nowrap;
}
.top-head .head-info .head-declare {
  margin-top: 64px;
  font-size: 18px;
  margin-right: 16px;
}
.top-head .head-info .head-declare a {
  display: block;
  height: 36px;
  line-height: 36px;
  color: #38396e;
  text-indent: 8px;
}
.top-head .head-info .head-declare a i {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  background: #b6aff0 url(../../images/icon-head-declare.png) center center no-repeat;
  border-radius: 36px;
}
.top-head .head-info .head-declare a:hover i {
  background: #38396e url(../../images/icon-head-declare.png) center center no-repeat;
  transition: 0.2s ease-out;
  cursor: pointer;
  white-space: nowrap;
}
.top-head .head-info .head-search {
  display: inline-block;
  width: 288px;
  height: 44px;
  border-radius: 18px;
  overflow: hidden;
  background: #b6aff0;
  color: #fff;
  margin-top: 60px;
}
.top-head .head-info .head-search input {
  border: none;
  background: none;
  width: 190px;
  height: 42px;
  margin-left: 20px;
  line-height: 42px;
  font-size: 14px;
  color: #fff;
  border-radius: 18px;
  outline: none;
}
.top-head .head-info .head-search a {
  display: inline-block;
  float: right;
  width: 58px;
  height: 44px;
  background: url(../../images/btn-search.png) center center no-repeat;
  background-color: #8a8ce6;
  text-indent: -9999px;
}
.top-head .head-info .head-search a:hover {
  background-color: #38396e;
  transition: 0.2s ease-out;
  cursor: pointer;
  white-space: nowrap;
}
.nav li {
  display: block;
  float: left;
  width: 132px;
}
.nav li a {
  display: inline-block;
  width: 133px;
  height: 58px;
  color: #fff;
  background: none;
}
.nav li a:hover {
  background: #64499a;
}
.nav li span {
  display: inline-block;
  width: 132px;
  height: 38px;
  line-height: 38px;
  border-left: 1px solid #b6aff0;
  border-right: 1px solid #64499a;
  margin-top: 10px;
}
.nav li ul {
  background: rgba(100, 73, 154, 0.8);
  background: #64499a;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: none;
  width: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  padding-left: 200px;
}
.nav li ul > li a {
  font-size: 20px;
  font-weight: normal;
}
.nav li ul > li a:hover {
  background: none;
  text-decoration: underline;
}
.nav .active > a {
  background: #64499a;
}
.l-banner-box {
  width: 1200px;
  height: 433px;
  display: block;
  overflow: hidden;
}
.section-focus-pic {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 433px;
  margin: 0 auto 20px auto;
}
.section-focus-pic ul li {
  position: absolute;
  top: 0;
  left: 1200px;
  width: 1200px;
  height: 433px;
}
.section-focus-pic .pages {
  width: 1200px;
  height: 433px;
}
.section-focus-pic .controler {
  position: absolute;
  right: 426px;
  bottom: 26px;
}
.section-focus-pic .controler b {
  display: block;
  float: left;
  overflow: hidden;
  width: 58px;
  height: 12px;
  margin: 0 0 0 14px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../../images/btn-banner-nor.png) center center no-repeat;
}
.section-focus-pic .controler b.down {
  background: url(../../images/btn-banner-hov.png) center center no-repeat;
}
.section-focus-pic .controler2 a {
  position: absolute;
  top: 50%;
  display: block;
  width: 42px;
  height: 92px;
  margin-top: -46px;
}
.section-focus-pic .controler2 a i {
  display: block;
  width: 42px;
  height: 92px;
  cursor: pointer;
}
.section-focus-pic .controler2 .prev {
  left: 5px;
}
.section-focus-pic .controler2 .prev i {
  background: url(../../images/btn-arrow-left.png) center center no-repeat;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.section-focus-pic .controler2 .prev:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.section-focus-pic .controler2 .next {
  right: 5px;
}
.section-focus-pic .controler2 .next i {
  background: url(../../images/btn-arrow-right.png) center center no-repeat;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.section-focus-pic .controler2 .next:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.l-notice {
  height: 68px;
  background: #fff;
  display: block;
  line-height: 68px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.BreakingNewsController {
  width: 100%;
  overflow: hidden;
  background: #FFF;
  height: auto;
  position: relative;
}
.BreakingNewsController .bn-title {
  display: inline-block;
  float: left;
  width: 200px;
  height: 68px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.BreakingNewsController ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  position: absolute;
  left: 236px;
}
.BreakingNewsController ul li {
  list-style: none;
  width: 876px;
  height: 68px;
  line-height: 68px;
  display: none;
  overflow: hidden;
}
.BreakingNewsController ul li a {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  font-size: 24px;
  color: #615e58;
}
.BreakingNewsController ul li span {
  float: left;
  margin-right: 20px;
}
.BreakingNewsController .bn-arrows {
  display: inline-block;
  float: right;
  width: 54px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.BreakingNewsController .bn-arrows span {
  display: block;
  width: 24px;
  position: absolute;
  top: 24px;
  bottom: 24px;
  cursor: pointer;
  opacity: 1;
}
.BreakingNewsController .bn-arrows span:hover {
  opacity: 0.6;
}
.BreakingNewsController .bn-arrows-left {
  left: 0;
  background: url(../../images/btn-arleft-lg.png) top center no-repeat;
}
.BreakingNewsController .bn-arrows-right {
  right: 0;
  background: url(../../images/btn-arright-lg.png) bottom center no-repeat;
}
.easing a,
.easing span {
  transition: .25s linear;
  -moz-transition: .25s linear;
  -webkit-transition: .25s linear;
}
.col-tit {
  display: inline-block;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #615e58;
  font-size: 24px;
  color: #8a8ce6;
  line-height: 64px;
  text-indent: 74px;
}
.col-tit a {
  background: url(../../images/btn-more.png) 128px center no-repeat;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  font-size: 12px;
  color: #b6aff0;
  text-align: right;
  padding-right: 26px;
}
.btn-more {
  background: url(../../images/btn-more.png) 128px center no-repeat;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  font-size: 12px;
  color: #b6aff0;
  float: right;
  padding-right: 46px;
}
.ic-team {
  display: inline-block;
  height: 64px;
  width: 100%;
  background: url(../../images/icon-team.png) 16px center no-repeat;
}
.ic-major {
  display: inline-block;
  height: 64px;
  width: 100%;
  background: url(../../images/icon-major.png) 16px center no-repeat;
}
.ic-edugain {
  display: inline-block;
  height: 64px;
  width: 100%;
  background: url(../../images/icon-edugain.png) 16px center no-repeat;
}
.ic-students {
  display: inline-block;
  height: 64px;
  width: 100%;
  background: url(../../images/icon-students.png) 16px center no-repeat;
}
.ic-scigain {
  display: inline-block;
  height: 64px;
  width: 100%;
  background: url(../../images/icon-scigain.png) 16px center no-repeat;
}
.col-team {
  display: block;
  position: relative;
  width: 1200px;
  height: 304px;
  background: #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.col-team .teacherpic {
  display: inline-block;
  position: absolute;
  top: 88px;
  left: 20px;
}
.col-team .teacherpic .col-team-pic {
  width: 142px;
  height: 180px;
  display: block;
  position: relative;
  float: left;
  margin-right: 62px;
}
.col-team .teacherpic .col-team-pic img {
  width: 142px;
  height: 180px;
}
.col-team .teacherpic .col-team-pic .col-team-name {
  width: 142px;
  height: 64px;
  position: relative;
  top: -64px;
  left: 0;
  background: #f2f2f2;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: auto;
}
.col-team .teacherpic .col-team-pic .col-team-name h2 {
  text-align: center;
  color: #39393c;
  font-size: 18px;
  padding-top: 4px;
}
.col-team .teacherpic .col-team-pic .col-team-name > p {
  font-size: 14px;
  color: #7d7d7f;
  padding: 8px 8px 4px 8px;
}
.col-team .teacherpic .col-team-pic .txt {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 142px;
  background: rgba(56, 57, 110, 0.8);
  background: #38396e;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: normal;
}
.col-team .teacherpic .col-team-pic .txt a {
  color: #fff;
}
.col-team .teacherpic .col-team-pic .txt a h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}
.col-team .teacherpic .col-team-pic .txt a h4 {
  font-size: 14px;
  padding: 4px 8px;
  line-height: 18px;
}
.col-team .teacherpic .col-team-pic .txt a > p {
  font-size: 12px;
  padding: 4px 8px;
  line-height: 14px;
}
.col-list {
  width: 100%;
  display: block;
}
.col-left {
  display: block;
  width: 794px;
  height: 304px;
  background: #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.col-right {
  display: block;
  width: 390px;
  height: 304px;
  background: #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.col-lglist {
  display: block;
  padding: 24px 14px 24px 16px;
}
.col-lglist .col-piclist {
  width: 410px;
  display: block;
}
.col-lglist .col-piclist li {
  display: block;
  width: 396px;
  height: 86px;
  margin-bottom: 20px;
}
.col-lglist .col-piclist li .list-pic {
  display: inline-block;
  width: 128px;
  height: 86px;
  overflow: hidden;
}
.col-lglist .col-piclist li .list-pic img {
  width: 128px;
  height: 86px;
}
.col-lglist .col-piclist li .list-info {
  display: inline-block;
  width: 257px;
  margin-left: 8px;
}
.col-lglist .col-piclist li .list-info > p {
  display: inline-block;
  color: #615e58;
  font-size: 12px;
  line-height: 18px;
  width: 257px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: normal;
}
.col-lglist .list-tit a {
  display: inline-block;
  width: 257px;
  font-size: 18px;
  color: #1f2938;
  background: url(../../images/icon-point.png) left center no-repeat;
  padding-left: 6px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.col-lglist .col-datalist {
  width: 354px;
  display: inline-block;
}
.col-lglist .col-datalist li {
  display: block;
  line-height: 24px;
}
.col-lglist .col-datalist li span {
  display: inline-block;
  float: left;
  margin-right: 6px;
}
.col-picwall {
  margin: 28px 0 16px 0;
}
.col-picwall .wrap ul {
  height: 196px;
  overflow: hidden;
  clear: both;
  *zoom: 1;
  margin-left: 40px;
}
.col-picwall .wrap li {
  display: inline-block;
  position: relative;
  width: 254px;
  height: 196px;
  float: left;
  padding: 0 auto;
}
.col-picwall .wrap li .wrap-pic {
  display: inline-block;
  width: 205px;
  height: 136px;
  overflow: hidden;
  margin-bottom: -2px;
}
.col-picwall .wrap li .wrap-pic img {
  width: 205px;
  height: 136px;
}
.col-picwall .wrap li .wrap-info {
  display: inline-block;
  width: 183px;
  height: 58px;
  background: #615e58;
  border-left: 10px solid #64499a;
  padding: 0 6px;
}
.col-picwall .wrap li .wrap-info a {
  color: #fff;
}
.col-picwall .wrap li .wrap-info a span {
  font-size: 14px;
  line-height: 24px;
}
.col-picwall .wrap li .wrap-info a i {
  background: url(../../images/icon-arrow-next.png) right center no-repeat;
  display: inline-block;
  float: right;
  width: 7px;
  height: 13px;
  margin: 4px;
  position: relative;
  right: 0;
}
.col-picwall .wrap li :hover {
  cursor: pointer;
  text-decoration: underline;
}
.col-picwall .wrap li :hover a span {
  color: rgba(255, 255, 255, 0.8);
}
.col-picwall .wrap li :hover a i {
  position: relative;
  right: 8px;
  transition: 0.2s ease-out;
}
.col-picwall input {
  display: inline-block;
  position: relative;
  top: -142px;
  width: 24px;
  height: 74px;
  border: none;
  outline: none;
  float: left;
}
.col-picwall .prev1 {
  background: #8a8ce6 url(../../images/btn-arleft-mid.png) center center no-repeat;
}
.col-picwall .next1 {
  left: 746px;
  background: #8a8ce6 url(../../images/btn-arright-mid.png) center center no-repeat;
}
.fooder {
  display: block;
  width: 100%;
}
.f-section {
  display: block;
  background: #64499a;
}
.f-section .f-sec {
  display: block;
  width: 388px;
  margin-right: 16px;
  margin-bottom: 16px;
  color: #fff;
}
.f-section .f-sec .f-logo {
  display: block;
}
.f-section .f-sec .f-logo img {
  position: relative;
  top: 20px;
  left: 6px;
}
.f-section .f-sec .f-logo span {
  display: inline-block;
  position: relative;
  top: -6px;
  left: 120px;
  font-size: 18px;
  color: #fff;
}
.f-section .f-sec .f-info {
  font-size: 12px;
  color: #f0f0f0;
  line-height: 28px;
  margin-top: 26px;
}
.f-section .f-sec .f-detail {
  margin-top: 16px;
  line-height: 24px;
  font-size: 14px;
  text-indent: 28px;
}
.f-section .f-sec .f-link {
  font-size: 14px;
}
.f-section .f-sec .f-link li {
  float: left;
  display: block;
  width: 190px;
  margin-top: 16px;
}
.f-section .f-sec .f-link li a {
  color: #fff;
}
.f-section .f-sec .f-link li a:hover {
  text-decoration: underline;
}
.f-section .f-tit {
  font-size: 18px;
  font-weight: 400;
  margin-top: 26px;
}
.copyright {
  display: block;
  width: 100%;
  background: #38396e;
  height: 68px;
  line-height: 68px;
}
.copyright span {
  display: inline-block;
  margin-right: 24px;
  color: #c9c6c9;
}
.l-page-tit {
  height: 54px;
  line-height: 54px;
  font-size: 18px;
}
.l-page-tit a {
  color: #64499a;
}
.l-page-tit i {
  display: inline-block;
  width: 14px;
  height: 15px;
  margin: 0 14px;
  background: url(../../images/side-arrow-up.png) center center no-repeat;
}
.page-list {
  display: block;
  width: 884px;
  background: #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.page-list .page-li {
  display: block;
  padding: 0 20px;
}
.page-list .page-li li {
  display: inline-block;
  width: 844px;
  padding: 28px 0;
  border-bottom: 1px solid #ddd;
}
.page-list .page-li li .li-pic img {
  display: inline-block;
  width: 126px;
  height: 85px;
}
.page-list .page-li li .li-info {
  margin-left: 14px;
  width: 704px;
  overflow: hidden;
}
.page-list .page-li li .li-info .li-tit a {
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  color: #38396e;
  padding-left: 10px;
  background: url(../../images/icon-point.png) left center no-repeat;
}
.page-list .page-li li .li-info .li-tit a:hover {
  text-decoration: underline;
}
.page-list .page-li li .li-info .li-tit span {
  font-size: 12px;
  color: #e6a640;
  height: 24px;
  line-height: 24px;
  float: right;
}
.page-list .page-li li .li-info .li-detail {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  color: #615e58;
  line-height: 24px;
}
.page-list .page-num-link {
  display: block;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 24px;
}
.page-list .page-num-link span {
  display: inline-block;
  font-size: 14px;
  color: #8a8ce6;
  margin-right: 4px;
}
.page-list .page-num-link span a {
  display: inline-block;
  padding: 10px 12px;
  color: #fff;
  background: #8a8ce6;
  border-radius: 3px;
}
.page-list .page-num-link span a:hover {
  background: #1e2347;
  transition: 0.2s ease-out;
}
.page-list .page-num-link span .active {
  background: #1e2347;
}
.page-list .page-num-link input {
  width: 68px;
  height: 28px;
  border: 1px solid #8a8ce6;
  border-radius: 3px;
}
.sidebar {
  display: block;
  width: 300px;
  background: #fff;
  margin-bottom: 20px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar .menu-tit {
  height: 46px;
  width: 300px;
  display: inline-block;
  background: #8a8ce6 url(../../images/side-menutit.png) right 18px center no-repeat;
  background-color: #8a8ce6;
  background-image: url(../../images/side-menutit.png) right 18px center no-repeat;
  line-height: 46px;
  font-size: 20px;
  text-indent: 18px;
  color: #fff;
}
/*left*/
.leftsidebar_box {
  display: block;
  min-height: 460px;
}
.leftsidebar_box dt {
  padding-right: 10px;
  color: #38396e;
  padding-left: 48px;
  font-size: 18px;
  position: relative;
  line-height: 48px;
  cursor: pointer;
  border-bottom: 1px solid #64499a;
}
.leftsidebar_box .active {
  display: block;
  padding-right: 10px;
  color: #fff !important;
  padding-left: 48px;
  font-size: 18px;
  position: relative;
  line-height: 48px;
  cursor: pointer;
  background: #38396e !important;
  border-bottom: 1px solid #64499a;
  border-left: 8px solid #e6a640 !important;
}
.leftsidebar_box dt img {
  position: absolute;
  right: 24px;
  top: 16px;
}
.leftsidebar_box dd {
  background: #fff;
  text-indent: 40px;
  border-bottom: 1px solid #ddd;
}
.leftsidebar_box dd a {
  display: block;
  width: 300px;
  color: #64499a;
  line-height: 48px;
}
.leftsidebar_box dd a:hover {
  text-decoration: underline;
}
.leftsidebar_box dl dd:last-child {
  padding-bottom: 2px;
}
.team-list {
  display: block;
  width: 884px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  padding-bottom: 24px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.team-list .team-li-leader {
  display: inline-block;
  padding: 20px 24px;
}
.team-list .team-li-leader .leader-pic {
  display: inline-block;
  width: 210px;
  height: 266px;
}
.team-list .team-li-leader .leader-pic img {
  width: 210px;
  height: 266px;
}
.team-list .team-li-leader .leader-info {
  display: inline-block;
  width: 560px;
  margin-left: 44px;
}
.team-list .team-li-leader .leader-info .lead-name {
  display: inline-block;
  font-size: 24px;
  color: #1f2938;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
}
.team-list .team-li-leader .leader-info .lead-detail span {
  display: inline-block;
  float: left;
}
.team-list .team-li-leader .leader-info .lead-detail .lead-info-tit {
  width: 140px;
  line-height: 28px;
  font-size: 16px;
  color: #1f2938;
  font-weight: 600;
}
.team-list .team-li-leader .leader-info .lead-detail .lead-info-p {
  width: 420px;
  line-height: 28px;
  font-size: 14px;
  color: #1f2938;
}
.pl-li-tit {
  height: 46px;
  border-bottom: 1px solid #64499a;
  line-height: 46px;
  font-size: 20px;
  color: #8a8ce6;
  text-indent: 70px;
}
.ic-leader {
  background: url(../../images/team-leader.png) 20px center no-repeat;
}
.ic-member {
  background: url(../../images/team-member.png) 20px center no-repeat;
}
.ic-pagelist {
  background: url(../../images/icon-pl-tit.png) 20px center no-repeat;
}
.ic-intro {
  background: url(../../images/team-intro.png) 20px center no-repeat;
}
.team-li-member {
  display: inline-block;
  position: relative;
  width: 884px;
  height: auto;
  padding: 0 32px;
  background: #fff;
  clear: both;
}
.team-li-member .teacherpic {
  display: inline-block;
  position: relative;
  top: 26px;
}
.team-li-member .teacherpic .col-team-pic {
  width: 165px;
  height: 209px;
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 54px;
  margin-bottom: 20px;
}
.team-li-member .teacherpic .col-team-pic img {
  width: 165px;
  height: 209px;
}
.team-li-member .teacherpic .col-team-pic .col-team-name {
  width: 165px;
  height: 64px;
  position: relative;
  top: -64px;
  left: 0;
  background: #f2f2f2;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: auto;
}
.team-li-member .teacherpic .col-team-pic .col-team-name h2 {
  text-align: center;
  color: #39393c;
  font-size: 18px;
  padding-top: 4px;
}
.team-li-member .teacherpic .col-team-pic .col-team-name > p {
  font-size: 14px;
  color: #7d7d7f;
  padding: 8px 8px 4px 8px;
}
.team-li-member .teacherpic .col-team-pic .txt {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 165px;
  background: #38396e;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: normal;
}
.team-li-member .teacherpic .col-team-pic .txt a {
  color: #fff;
}
.team-li-member .teacherpic .col-team-pic .txt a h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
}
.team-li-member .teacherpic .col-team-pic .txt a h4 {
  font-size: 14px;
  padding: 4px 8px;
  line-height: 18px;
}
.team-li-member .teacherpic .col-team-pic .txt a > p {
  font-size: 12px;
  padding: 4px 8px;
  line-height: 14px;
}
.pl-info-tit {
  width: 836px;
  display: inline-block;
  margin: 20px 24px 0 24px;
  text-align: center;
  border-bottom: 1px dashed #ddd;
}
.pl-info-tit .info-tit {
  font-size: 24px;
  color: #1e2347;
  margin-bottom: 14px;
}
.pl-info-tit .info-from {
  color: #615e58;
  font-size: 12px;
  margin-bottom: 10px;
}
.pl-info-p {
  display: inline-block;
  width: 836px;
  padding: 20px 24px;
  font-size: 14px;
  line-height: 24px;
}
.pl-info-p > p {
  margin-bottom: 8px;
}
.pl-info-p .pl-info-pic {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.pl-info-p img {
  display: inline-block;
  margin: 8px auto;
}
.pl-info-link {
  width: 836px;
  display: inline-block;
  margin: 0 24px;
  margin-bottom: 20px;
}
.pl-info-link .pl-count {
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed #ddd;
}
.pl-info-link .pl-count a:hover {
  text-decoration: underline;
}
.t-men-card {
  display: inline-block;
  width: 884px;
  padding: 0 32px;
  margin-top: 20px;
}
.t-men-card .t-men-pic {
  display: inline-block;
  width: 210px;
  height: 266px;
}
.t-men-card .t-men-pic img {
  width: 210px;
  height: 266px;
}
.t-men-card .t-men-intro {
  display: inline-block;
  width: 564px;
  margin-left: 52px;
}
.t-men-card .t-men-intro .t-men-name {
  font-size: 20px;
  color: #64499a;
  border-bottom: 1px solid #ddd;
  margin: 16px auto;
  line-height: 34px;
}
.t-men-card .t-men-intro .t-men-name span {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 64px;
  border-bottom: 4px solid #8a8ce6;
}
.t-men-card .t-men-intro .t-men-brief {
  display: inline-block;
  width: 540px;
  overflow: hidden;
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #8a8ce6;
  padding: 12px;
}
.t-men-card .t-men-intro .t-men-brief .t-intro-sec {
  display: inline-block;
  line-height: 36px;
  font-size: 16px;
}
.t-men-p {
  display: inline-block;
  width: 820px;
  padding: 0 32px;
  margin-bottom: 20px;
}
.t-men-p .t-men-tit {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  color: #64499a;
  margin: 24px auto;
}
.t-men-p > p {
  text-indent: 40px;
  line-height: 24px;
}
.pd24 {
  padding-bottom: 24px;
}
.login {
  background: url(../../word/login-bg.png) center center no-repeat;
  width: 100%;
  height: 508px;
}
.login-section {
  display: block;
  background: rgba(70, 82, 157, 0.5);
  filter: alpha(opacity=50);
  border-radius: 10px;
  padding: 30px 62px;
  margin-top: 24px;
}
.login-section .login-iden {
  width: 356px;
  height: 42px;
  display: block;
}
.login-section .login-iden span {
  background: #5b6399;
  display: inline-block;
  width: 130px;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  float: left;
}
.login-section .login-iden select {
  display: inline-block;
  width: 226px;
  float: left;
  height: 42px;
  outline: none;
  background: #fff;
  color: #e6a640;
  padding-left: 80px;
  font-size: 18px;
  border: none;
}
.login-section .login-iden select option {
  display: inline-block;
  color: #e6a640;
  font-size: 18px;
  border: none;
}
.login-section .login-input {
  display: block;
  width: 356px;
  height: 42px;
  background-color: #b3bee2;
  margin-top: 24px;
}
.login-section .login-input input {
  display: inline-block;
  margin-left: 48px;
  height: 42px;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
}
.login-section a {
  margin-top: 12px;
  color: #fff;
}
.login-section .login-name {
  background: url(../../images/icon-name.png) 10px center no-repeat;
  background-color: #b3bee2;
}
.login-section .login-key {
  background: url(../../images/icon-key.png) 10px center no-repeat;
  background-color: #b3bee2;
}
.login-section .login-button {
  display: block;
}
.login-section .login-button a {
  display: inline-block;
  height: 42px;
  border-radius: 3px;
}
